# macOS
.DS_Store
._DS_Store

# IDE files
.idea/
.vscode/

# Compiled binary files
/bin/
/target/
/dist/

# Package files
/node_modules/
/vendor/

# Log files
/log/
/logs/

#code specific

# Python
__pycache__/
*.pyc
*.pyo

